{
	"plugins": [
		"react"
	],
	"extends": [
		"plugin:react/recommended"
	],
	"parser": "babel-eslint",
	"parserOptions": {
		"parser": "babel-eslint",
		"ecmaVersion": 8,
		"sourceType": "module"
	},
	"settings": {
		"react": {
			"version": "^16.6.3"
		}
	},
	"rules": {
		"class-methods-use-this": "off"
	}
}
