{
	"plugins": [
		"react"
	],
	"extends": [
		"plugin:react/recommended"
	],
	"parser": "babel-eslint",
	"parserOptions": {
		"parser": "babel-eslint",
		"ecmaVersion": 8,
		"sourceType": "module"
	},
	"settings": {
		"react": {
			"version": "^16.6.3"
		}
	},
	"rules": {
		"class-methods-use-this": "off",
		"jsx-quotes": "error",
		"react/boolean-prop-naming": "error",
		"react/button-has-type": "error",
		"react/default-props-match-prop-types": "error",
		"react/jsx-boolean-value": ["error", "never"],
		"react/jsx-child-element-spacing": "error",
		"react/jsx-closing-bracket-location": "error",
		"react/jsx-closing-tag-location": "error",
		"react/jsx-curly-brace-presence": "error",
		"react/jsx-curly-spacing": ["error",  {
			"when": "always",
			"children": true
		}],
		"react/jsx-equals-spacing": ["error", "never"],
		"react/jsx-filename-extension": "error",
		"react/jsx-first-prop-new-line": "error",
		"react/jsx-fragments": ["error", "element"],
		"react/jsx-handler-names": "error",
		"react/jsx-no-bind": "error",
		"react/jsx-props-no-multi-spaces": "error",
		"react/jsx-one-expression-per-line": "error",
		"react/jsx-pascal-case": "error",
		"react/jsx-sort-default-props": "error",
		"react/jsx-sort-props": "error",
		"react/jsx-space-before-closing": "error",
		"react/jsx-tag-spacing": ["error", {
			"closingSlash": "never",
			"beforeSelfClosing": "always",
			"afterOpening": "never",
			"beforeClosing": "never"
		}],
		"react/jsx-wrap-multilines": ["error", {
			"declaration": "parens-new-line",
			"assignment": "parens-new-line",
			"return": "parens-new-line",
			"arrow": "parens-new-line",
			"condition": "parens-new-line",
			"logical": "parens-new-line",
			"prop": "parens-new-line"
		}],
		"react/no-access-state-in-setstate": "error",
		"react/no-array-index-key": "warn",
		"react/no-redundant-should-component-update": "error",
		"react/no-typos": "error",
		"react/no-this-in-sfc": "error",
		"react/no-unsafe": "error",
		"react/no-unused-prop-types": "error",
		"react/no-unused-state": "error",
		"react/no-will-update-set-state": "error",
		"react/prefer-stateless-function": ["error", { "ignorePureComponents": true }],
		"react/prefer-es6-class": ["error", "always"],
		"react/require-default-props": "error",
		"react/self-closing-comp": ["error", {
			"component": true,
			"html": true
		}],
		"react/sort-comp": "error",
		"react/style-prop-object": "error",
		"react/void-dom-elements-no-children": "error"
	}
}
